<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<h3>By: <%= link_to @post.author.full_name, @post.author %></h3>
<h4>Written <%= time_ago_in_words @post.created_at %> ago</h4>
<p><%= @post.body %></p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>


<%= link_to 'Back', author_path %>